.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("health_points.png"), alt: "hp_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("armor_points.png"), alt: "armor_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("attack_power.png"), alt: "attack_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("speed.png"), alt: "speed_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("critical_hit_rate.png"), alt: "chr_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("critical_hit_multiplier.png"), alt: "chm_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("dodge_rate.png"), alt: "dodge_icon"}
.stat-container.horizontal
    %span.stat-value= "....."
    %img.stat-icon{src: image_path("miss_rate.png"), alt: "miss_icon"}
