= form_with(model: character, local: true,class: "edit-character-container horizontal") do |form|
  .information-container
    
    .stats-container.new-character-stats
      .stat-container.horizontal
        = form.number_field :health_points, in: 10.0..30.0, step: 1 , placeholder: "HP",maxlength:"200",required: true
        %img.stat-icon{src: image_path("health_points.png"), alt: "hp_icon"}
      .stat-container.horizontal
        = form.number_field :armor_points, in: 0.0..20.0, step: 1 , placeholder: "ARM",required: true
        %img.stat-icon{src: image_path("armor_points.png"), alt: "armor_icon"}
      .stat-container.horizontal
        = form.number_field :attack_power, in: 0.5..5.00, step: 0.1 , placeholder: "ATK",required: true
        %img.stat-icon{src: image_path("attack_power.png"), alt: "attack_icon"}
      .stat-container.horizontal
        = form.number_field :speed, in: 0.5..5.00, step: 0.1 , placeholder: "SPD",required: true
        %img.stat-icon{src: image_path("speed.png"), alt: "speed_icon"}
    .other-container
      = form.submit "Save"
      = link_to "Cancel", characters_path, class: "btn btn-danger"

  .profile-container
    = form.file_field :profile_picture, id: "profile-picture-edit"
    = image_tag form.object.profile_picture, class:"character-profile-picture", id: "preview-edit-image"
    .name-container
      = form.text_field :name, placeholder: "Name", required: true

= javascript_pack_tag 'preview_edit_pp'