.home.horizontal{ data: {controller: "drag_drop"}}
  .left.side.vertical
    = render 'elements/title', title: "Characters"
    = turbo_frame_tag "new-character" do
      = render 'characters/new_character'
    = turbo_frame_tag "characters-list", src: characters_path, loading: "lazy"
  .middle.vertical
    .middle-upside.vertical
      = render 'elements/logo'
      = turbo_frame_tag "arena", src: new_battle_path, loading: "lazy"
    .middle-downside.vertical
      = render 'elements/title', title: "Equipments"
      = turbo_frame_tag "equipments-list", src: equipments_path, loading: "lazy"
  .right.side.vertical
    = render 'elements/title', title: "Battle History"
    //= turbo_frame_tag "arena", src: new_battle_path, loading: "lazy"
