= turbo_frame_tag "character-#{character.id}" do
    .character-container.horizontal
        .information-container
            .stats-container
                .stat-container.horizontal
                    %span.stat-value= character.health_points
                    %img.stat-icon{src: image_path("health_points.png"), alt: "hp_icon"}
                .stat-container.horizontal
                    %span.stat-value= character.armor_points
                    %img.stat-icon{src: image_path("armor_points.png"), alt: "armor_icon"}
                .stat-container.horizontal
                    %span.stat-value= character.win_count
                    %img.stat-icon{src: image_path("win.png"), alt: "speed_icon"}
                .stat-container.horizontal
                    %span.stat-value= character.attack_power
                    %img.stat-icon{src: image_path("attack_power.png"), alt: "attack_icon"}
                .stat-container.horizontal
                    %span.stat-value= character.speed
                    %img.stat-icon{src: image_path("speed.png"), alt: "speed_icon"}
                .stat-container.horizontal
                    %span.stat-value="#{character.death_rate}%"
                    %img.stat-icon{src: image_path("rip.png"), alt: "speed_icon"}
            .other-container.vertical
                = render "elements/progress_bar", current_percent: character.current_level_percent
            .action-container.vertical
                = link_to image_tag("delete.png", class: "action-icon"),character_path(character), method: :delete, data: { confirm: "Are you sure?" }
                = link_to image_tag("edit.png", class: "action-icon"), edit_character_path(character)
        .profile-container{data:{target: 'drag_drop.character', id: character.id, action: 'mousedown->drag_drop#toggleCharacter'}}
            = image_tag character.profile_picture, class: "character-profile-picture"
            .name-container
                %span= character.name
