= turbo_frame_tag "arena" do
    = form_with(model: @battle, local: true,class: "battle-form vertical",data:{target: "drag_drop.arenaForm"}) do |form|
        = form.fields_for :battle_characters do |bc_form|
            = bc_form.hidden_field :character_id
            = bc_form.fields_for :battle_character_equipments do |be_form|
                = be_form.hidden_field :equipment_id

        .battle-characters.horizontal
            = render "elements/versus"
            = render "battle_character", key: 1
            = render "battle_character", key: 2
        = form.submit "Start Battle", class: "start-battle-button",data:{target: "drag_drop.submitButtom",action: "click->drag_drop#toggleSubmitButton"}, disabled: true
